@model IEnumerable<ProyectoRespaldo.Models.maquina_virtual>
@{
    ViewBag.Title = "Index_MVirtual";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<h1>Máquinas Virtuales</h1><br />
   
    <div class="dt-buttons" align="right">
        @Html.ActionLink("Asignar de Políticas", "AsignPolitica", "Politica", null, new { @class = "btn btn-primary btn-large", id = "button" })
    </div>
    <br />
    <table id="example" class="display dataTable" border="0" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.direccion_ip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.prioridad)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.estatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion_ip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.prioridad)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id_maquina })
                    </td>
                </tr>
            }
        </tbody>
    </table>


@section scripts
{
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/datatables")
        <script type="text/javascript">

            $(document).ready(function () {
                var table = $('#example').DataTable();

                $('#example tbody').on('click', 'tr', function () {
                    $(this).toggleClass('selected');
                });

                $('#button').click(function () {
                    alert(table.rows('.selected').data().length + ' row(s) selected');
                    for (i = 0; i < table.rows('.selected').data().length; i++) {
                        seletArray = table.rows('.selected').data()[i][0];
                        alert(seletArray);
                    }
                });
            });
        </script>
    }
