@model IEnumerable<ProyectoRespaldo.Models.politica>
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{

    {
        ViewBag.Title = "AsignPolitica";
    }
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <h1>Asignar Política</h1><br />
        <div class="row">
            <div class="col-xs-3">
                <h4>Máquinas seleccionadas</h4>
                <br />
                <div class="list-group" style="overflow:scroll; height:300px;">
                    @foreach (string maquina in (List<string>)ViewData["ListaM"])
                    {
                        <p class="list-group-item"> <img src="@Url.Content("~/Content/Computer.png")" width="30" /> @maquina</p>
                    }
                </div>
            </div>

            <div class="col-xs-3">
                <h4>Políticas disponibles</h4>
                <br />
                <select name="from[]" id="lstview" class="form-control" size="15" multiple="multiple">
                    @foreach (var item in Model)
                    {
                        <option value=@item.nombre>@item.nombre</option>
                    }
                </select>
            </div>

            <div class="col-xs-3">
                <br /> <br /> <br /> <br />
                <button type="button" id="lstview_undo" class="btn btn-danger btn-block">Deshacer</button>
                <button type="button" id="lstview_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="lstview_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="lstview_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="lstview_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                <button type="button" id="lstview_redo" class="btn btn-warning btn-block">Rehacer</button>
            </div>

            <div class="col-xs-3">
                <h4>Políticas asignadas</h4>
                <br />
                <select name="to[]" id="lstview_to" class="form-control" size="15" multiple="multiple"></select>
            </div>
        </div>
            @section scripts
{
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/datatables")
                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('#lstview').multiselect({
                            search: {
                                left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                                right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
                            }
                        });
                    });
                </script>
            }

}