@model IEnumerable<ProyectoRespaldo.Models.Informacion>
@using GridMvc.Html
@{
    ViewBag.Title = "Index_Politica";
}

<h1>Política</h1><br />

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/gridmvc.js"></script>
    </head>
    <body>
        <div>
            @Html.Grid(Model).Columns(columns =>
       {
       columns.Add(c => c.nombre).Titled("Nombre");
       columns.Add(c => c.apellido).Titled("Apellido");
       columns.Add(c => c.edad).Titled("Edad");
       columns.Add(c => c.fecha_nac).Titled("Fecha de Nac")
                                    .SortInitialDirection(GridMvc.Sorting.GridSortDirection.Descending)
                                    .Format("{0:dd/MM/yyyy}");
       columns.Add(c => c.status).Titled("Estatus");

       columns.Add().Encoded(false)
           .Sanitized(false)
           .SetWidth(3)
           .RenderValueAs(d => @<b>
                            @Html.ActionLink("Editar", "Index", "Home")
                       </b>
                       );

           columns.Add().Encoded(false)
           .Sanitized(false)
           .SetWidth(3)
           .RenderValueAs(d => @<b>
            @Html.ActionLink("Delete", "Index", "Home")
        </b>
                       );
       }).WithPaging(5).Sortable().Filterable().WithMultipleFilters()
        </div>
    </body>
</html>

